behave==1.2.6
behavex==3.2.0
configobj==5.0.8
csscompressor==0.9.5
dotmap==1.3.30
Faker==23.2.1
greenlet==3.0.3
htmlmin==0.1.12
Jinja2==3.1.4
MarkupSafe==2.1.5
parse==1.20.1
parse-type==0.6.2
playwright==1.41.2
pyee==11.0.1
python-dateutil==2.8.2
six==1.16.0
typing_extensions==4.9.0
